PORT=7000

# PostgreSQL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/erai_raws_subs?schema=public

# Erai-Raws WordPress credentials
ERAI_USERNAME=
ERAI_PASSWORD=
ERAI_BASE_URL=https://www.erai-raws.info
ERAI_COOKIE_PATH=.cache/erai-cookies.json
